{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/fontawesome.css' %}">
        <script src="{% static 'scripts/scripts.js' %}" defer></script>
        <link href="{% static 'styles/signup.css' %}" rel="stylesheet" />

    </head>

    <body>
        
        <div class="container">
            <div class="card center spacer">
                <h1 class="title text-center">Register With</h1>
                <div class="social-login">
                    <button class="social-btn">
                        <img class="icon" src="{% static 'images/envelope-open.svg' %}" alt="">
                        Gmail
                    </button>
                    <button class="social-btn">
                        <img class="icon" src="{% static 'images/facebook.svg' %}" alt="">
                        Facebook
                    </button>
                </div>
                <div class="text-center line form-divider">or</div>
                <form method="POST" class="login-form spacer" id="signup-form">
                    {% csrf_token %}
                    
                    <div class="input-group">
                        {{form.username}}
                        <img class="icon input-icon" src="{% static 'images/person.svg' %}" alt="">
                        <!--<input required name="username" id="username" type="text" class="form-input" placeholder="john doe" maxlength="16" minlength="6">--> 
                    </div>
                    
                    <div class="input-group">
                        {{form.email}}
                        <img class="icon input-icon" src="{% static 'images/envelope.svg' %}" alt="">
                        <!--<input required name="email" id="email" type="email" class="form-input" placeholder="johndoe@mail.com">-->
                    </div>
                    
                    <div class="input-group">
                        {{form.password1}}
                        <img class="icon input-icon" src="{% static 'images/key.svg' %}" alt="">
                        <!--<input required name="password1" id="password1" type="password" class="form-input" placeholder="password" maxlength="22" minlength="8">-->
                    </div>
                    
                    <div class="input-group">
                        {{form.password2}}
                        <img class="icon input-icon" src="{% static 'images/key.svg' %}" alt="">
                        <!--<input required name="password2" id="password2" type="password" class="form-input" placeholder=" confirm password" maxlength="22" minlength="8">-->
                    </div>
                    <input type="submit" class="submit" value="Signup">
                    <br>
                </form>

            </div>


        </div>

        <div class="redirect">
            <h3>Already have an account?&nbsp;<a href="login.html" class="link">Login</a></h3>
            <br><br>
            <h3><a href="forgot-password.html" class="link">Forgot password?</a></h3>
        </div>

    </body>
</html>
{% endblock %}