{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user_role.role == 'Student' %}
<div class="">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Return Date</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for book in total_orders %}
            <tr>
                <td>{{ book.book_name }}</td>
                <td>{{ book.status }}</td>
                <td>{{ book.return_date }}</td>
                <td class="table-actions">
                    <a href="{% url 'confirm_book' book.id %}" class="edit-button">Confirm</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}


<div class="dashboard-card-container">
    <div class="dashboard-card">
        <h1>{{ total_order_count }}</h1>
        <p>Total order(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>{{ total_borrowed }}</h1>
        <p>Borrowed Book(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>{{ total_books }}</h1>
        <p>total_books</p>
    </div>
</div>


<div>
    <div class="table-header">
        <h4 class="table-title">Available Requests</h4>
    </div>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Student</th>
                <th>Book Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in total_orders %}
            <tr>
                <td>{{ order.book_name }}</td>
                <td>{{ order.student_name}}</td>
                <td>{{ order.book.title }}</td>
                <td>{{ order.status }}</td>
                <td class="table-actions">
                    <a href="{% url 'confirm_book' order.id %}" class="confirm-button">Confirm</a>
                    <a href="{% url 'deny_book' order.id %}" class="deny-button">Deny</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date Borrowed</th>
                <th>Status</th>
                <th>Expected Return</th>
            </tr>
        </thead>
        <tbody>
            {% for order in borrowed_books %}
            <tr>
                <td>{{ order.book_name }}</td>
                <td>{{ order.date_borrowed }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.return_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}

{% endblock %}