{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user_role.role == 'Student' %}
<div class="">
    <div class="book_request_card">
        <h4>Current Book Borrowed</h4>
        {% if current_book_borrowed.status == "Returned" %}
        <p>You have no borrowed book</p>
        {% else %}

        {% if return_warn_message != "" and current_book_borrowed.status == "Accepted" %}
        <ul class="messages">
            <li class="alert">{{ return_warn_message }}</li>
        </ul>
        {% endif %}

        <table>
            <tbody>
                <tr>
                    <td>Book Title</td>
                    <td>{{ current_book_borrowed.book_name }}</td>
                </tr>
                <tr>
                    <td>Date Borrowed</td>
                    <td>{{ current_book_borrowed.date_borrowed }}</td>
                </tr>
                <tr>
                    <td>Return Date</td>
                    <td>{{ current_book_borrowed.return_date }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ current_book_borrowed.status }}</td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td>
                        {% if current_book_borrowed.status == "Pending" %}
                        <a href="{% url 'deny_book' current_book_borrowed.id %}" class="deny-button">Cancel Request</a>
                        {% else %}
                        <p>No Actions</p>
                        {% endif %}
                    </td>
                </tr>
            </tbody>`
        </table>
        {% endif %}
    </div>
    <h4>Pending Book Requests</h4>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            {% for book in total_orders %}
            <tr>
                <td>{{ book.book_name }}</td>
                <td>{{ book.status }}</td>
                <td>{{ book.return_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

<h3>Book Requests</h3>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="dashboard-card-container">
    <div class="dashboard-card">
        <h1>{{ total_order_count }}</h1>
        <p>Book request(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>{{ total_borrowed }}</h1>
        <p>Borrowed Book(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>{{ total_books }}</h1>
        <p>total_books</p>
    </div>
</div>


<div>
    <div class="table-header">
        <h4 class="table-title">Pending Requests</h4>
    </div>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Student</th>
                <th>Book Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in total_orders_admin %}
            <tr>
                <td>{{ order.book_name }}</td>
                <td>{{ order.student_name}}</td>
                <td>{{ order.status }}</td>
                <td class="table-actions">
                    <a href="{% url 'confirm_book' order.id %}" class="confirm-button">Confirm</a>
                    <a href="{% url 'deny_book' order.id %}" class="deny-button">Deny</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <div class="table-header">
        <h4 class="table-title">Books Borrowed</h4>
    </div>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Student</th>
                <th>Book Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in borrowed_books %}
            <tr>
                <td>{{ order.book_name }}</td>
                <td>{{ order.student_name}}</td>
                <td>{{ order.status }}</td>
                <td class="table-actions">
                    <form method="post" action="{% url 'return_book' order.id %}">
                        {% csrf_token %}
                        <button type="submit" class="confirm-button">Confirm Return</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <div class="table-header">
        <h4 class="table-title">All Requests</h4>
    </div>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Title</th>
                <th>Student</th>
                <th>Status</th>
                <th>Date Borrowed</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in all_requests %}
            <tr>
                <td>{{ order.book_name }}</td>
                <td>{{ order.student_name }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date_borrowed }}</td>
                <td>{{ order.return_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    {% endblock %}