{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="center">
    <div class="form-container books-form">
        <h3 class="books-form-header">Confirm Borrow</h3>
        <form method="post" action="">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="alert alert-error">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="input-containter">
                <label class="input-label" for="student_name">Student Name: </label>
                <input disabled value="{{ order.student_name }}" class="input" id="student_name" name="student_name"
                    type="text" />
            </div>
            <div class="input-containter">
                <label class="input-label" for="book_name">Book Name: </label>
                <input disabled value="{{ order.book_name }}" class="input" id="borrowed-time" name="book_name"
                    type="text" />
            </div>
            <input type="hidden" name="book_name" value="{{ order.book_name }}" />
            <input type="hidden" name="student_name" value="{{ order.student_name }}" />
            <input type="hidden" value="Accepted" name="status">
            <div class="input-containter">
                <label class="input-label" for="borrowed-time">Set Date Borrowed: </label>
                <input value="{{ form.date_borrowed }}" class="input" id="borrowed-time" name="date_borrowed"
                    type="datetime-local" />
            </div>
            <div class="input-containter">
                <label class="input-label" for="books-time">Set Expected Return Time: </label>
                <input value="{{ form.return_date }}" class="input" id="return-time" name="return_date"
                    type="datetime-local" />
            </div>
            <button type="submit" class="submit-button">
                Submit
            </button>
        </form>
    </div>
</div>


{% endblock %}