{% extends 'main.html' %}

{% block content %}
<div class="center">
    <div class="form-container books-form">
        <h3 class="books-form-header">Update Book</h3>
        <form method="post" action="{% url 'edit_book' book.id %}">
            {% csrf_token %}
            <div class="input-containter">
                <label class="input-label" for="books-title">Title: </label>
                <input value="{{ book.title }}" class="input" id="books-title" name="title" type="text" />
            </div>
            <div class="input-containter">
                <label class="input-label" for="books-author">Author: </label>
                <input value="{{ book.author }}" class="input" id="books-author" name="author" type="text" />
            </div>
            <div class="input-containter">
                <label class="input-label" for="books-description">Description: </label>
                <textarea value="" class="input" id="books-description" name="description" text>{{ book.description }}
                </textarea>
            </div>
            <button class="submit-button">
                Edit Book
            </button>
        </form>
    </div>
</div>

{% endblock %}