{% extends 'main.html' %}
{% load static %}
{% block content %}

<h3>Welcome {{ request.user }}</h3>
{% if user_role.role == 'Student' %}
<div class="student-books-container">
    {% for book in books %}
    <div class="book-card">
        <div class="book-card-image-container">
            <image class="book-card-image" src="{% static 'images/studentBook.png' %}" alt="">
        </div>
        <div class="book-card-text">
            <h3>{{ book.title }}</h3>
            <p>{{ book.description}}</p>
            <p class="small-student-text">By {{ book.author }}</p>
            <a class="edit-button" href="">Borrow</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="dashboard-card-container">
    <div class="dashboard-card">
        <h1>{{ total_books }}</h1>
        <p>Total Book(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>{{ total_students }}</h1>
        <p>Total Students(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>2</h1>
        <p>Total Fines(s)</p>
    </div>
</div>
<div class="">
    <a class="button-primary" href="{% url 'create_book' %}">Add A New Book</a>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td class="table-actions">
                    <a href="{% url 'edit_book' book.id %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete_book' book.id %}" class="delete-button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock%}