{% extends 'main.html' %}

{% block content %}

<h3>Dashboard</h3>
<div class="dashboard-card-container">
    <div class="dashboard-card">
        <h1>{{ total_books }}</h1>
        <p>Total Book(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>3</h1>
        <p>Total Students(s)</p>
    </div>
    <div class="dashboard-card">
        <h1>2</h1>
        <p>Total Fines(s)</p>
    </div>
</div>
<div class="">
    <a class="button-primary" href="{% url 'create_book' %}">Add A New Book</a>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}